@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96.1%; /* #f5f5f5 */
    --foreground: 0 0% 20%; /* #333333 */

    --card: 0 0% 100%; /* #ffffff */
    --card-foreground: 0 0% 20%; /* #333333 */

    --popover: 0 0% 100%; /* #ffffff */
    --popover-foreground: 0 0% 20%; /* #333333 */

    --primary: 9 84.3% 58%; /* #ff6347 */
    --primary-foreground: 0 0% 100%; /* #ffffff */

    --secondary: 39 100% 50%; /* #ffa500 */
    --secondary-foreground: 0 0% 100%; /* #ffffff */

    --muted: 0 0% 90%; /* #e6e6e6 */
    --muted-foreground: 0 0% 50%; /* #808080 */

    --accent: 174 70.3% 41.2%; /* #20b2aa */
    --accent-foreground: 0 0% 100%; /* #ffffff */

    --destructive: 0 84.2% 60.2%; /* #ff0000 */
    --destructive-foreground: 0 0% 100%; /* #ffffff */

    --border: 0 0% 80%; /* #cccccc */
    --input: 0 0% 80%; /* #cccccc */
    --ring: 0 0% 20%; /* #333333 */

    --radius: 0.5rem;
  }

  .dark {
    --background: 180 25% 15.7%; /* #2f4f4f */
    --foreground: 0 0% 96.1%; /* #f5f5f5 */

    --card: 180 25% 15.7%; /* #2f4f4f */
    --card-foreground: 0 0% 96.1%; /* #f5f5f5 */

    --popover: 180 25% 15.7%; /* #2f4f4f */
    --popover-foreground: 0 0% 96.1%; /* #f5f5f5 */

    --primary: 9 84.3% 58%; /* #ff4500 */
    --primary-foreground: 0 0% 100%; /* #ffffff */

    --secondary: 39 100% 47.1%; /* #ff8c00 */
    --secondary-foreground: 0 0% 100%; /* #ffffff */

    --muted: 180 9% 27.3%; /* #465c66 */
    --muted-foreground: 0 0% 70.6%; /* #b3b3b3 */

    --accent: 174 70.3% 41.2%; /* #20b2aa */
    --accent-foreground: 0 0% 100%; /* #ffffff */

    --destructive: 0 62.8% 30.6%; /* #993333 */
    --destructive-foreground: 0 0% 100%; /* #ffffff */

    --border: 180 9% 27.3%; /* #465c66 */
    --input: 180 9% 27.3%; /* #465c66 */
    --ring: 0 0% 96.1%; /* #f5f5f5 */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
